{% extends 'Neco/layout.html' %}
{% block metaTitle%}- Education, My education from high school, quality and programming{% endblock %}
{% block title %}Neco Horne - Education{% endblock %}
{% load static %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h1 class="mb-5">My Education</h1>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">Programming</h2>
            <hr class="featurette-divider" style="margin: 2rem">

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.edx.org/school/harvardx" target="_blank" style="color: #83b126">EDX - HarvardX</a></h3>
                    <div class="subheading mb-3">CS50</div>
                    <div>CS50 (Computer Science 50) is an on-campus and online introductory course on computer science from Harvard</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2018 - 2019</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.udacity.com/" target="_blank" style="color: #83b126">Udacity</a></h3>
                    <div class="subheading mb-3">Intro to Deep Learning with PyTorch</div>
                    <div>PyTorch Scholarship Challenge Recipient from Facebook Artificial Intelligence</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2018 - 2019</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.udacity.com/" target="_blank" style="color: #83b126">Udacity</a></h3>
                    <div class="subheading mb-3">Android Developer Nanodegree</div>
                    <div>Google Africa Scholarship Recipient of the Udacity Android Developer Nanodegree program</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2018 - 2019</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.pluralsight.com/" target="_blank" style="color: #83b126">Pluralsight</a></h3>
                    <div>Google: Associate Android Developer (AAD)</div>
                    <div>Firebase on Android: User Email Authentication and Verification​</div>
                    <div>Firebase on Android: Real-time Database and Cloud Storage</div>
                    <div>Firebase on Android: Cloud Messaging, Cloud Functions and Crashlytics​</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2018</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.lynda.com/" target="_blank" style="color: #83b126">Lynda</a></h3>
                    <div>Become a Programmer Path</div>
                    <div>Become a Python Developer​ Path</div>
                    <div>Become a Java Programmer Path</div>
                    <div>Android Development Essential Training: Create Your First App</div>
                    <div>Insights on Software Quality Engineering</div>
                    <div>Learning Data Analytics</div>
                    <div>Scrum: The Basics</div>
                    <div>Agile Development Practices</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017 - 2018</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.udacity.com/" target="_blank" style="color: #83b126">Udacity</a></h3>
                    <div>Intro to Computer Science</div>
                    <div>How to Use Git and GitHub</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.pluralsight.com/codeschool" target="_blank" style="color: #83b126">Code School</a></h3>
                    <div>Discover Git</div>
                    <div>Discover Python</div>
                    <div>Try Ruby</div>
                    <div>Try Android</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.udemy.com/" target="_blank" style="color: #83b126">Udemy</a></h3>
                    <div>HTML and CSS for Beginners - Build a Website & Launch ONLINE</div>
                    <div>Complete Python Bootcamp: Go from zero to hero in Python</div>
                    <div>The Complete Android & Java Developer Course - Build 21 Apps</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017</span>
                </div>
            </div>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">Quality</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.nationalboard.org/" target="_blank" style="color: #83b126">National Board of Boiler and Pressure Vessel Inspectors</a></h3>
                    <div>National Board Inspection Code Part 1 Installation </div>
                    <div>National Board Inspection Code Part 2 Inspection</div>
                    <div>National Board Inspection Code Part 3 Repairs and alterations</div>
                    <div>Certified Individual: Unfired Miniature Pressure Vessels (ASME VIII Div 1)</div>
                    <div>ASME Code Reading Primer</div>
                    <div>ASME Nuclear Code Reading Primer</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2013 - 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.saiw.co.za/" target="_blank" style="color: #83b126">South African Institute of Welding</a></h3>
                    <div class="subheading mb-3">Competent Persons Pressure Vessels</div>
                    <div>Competent Persons Pressure Vessels(Core)</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2013</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="https://www.twi-global.com/" target="_blank" style="color: #83b126">The Welding Institute</a></h3>
                    <div class="subheading mb-3">Senior Welding Inspector level 3</div>
                    <div>CSWIP 3.2.2, Senior welding inspector level 3 with radiographic interpretation</div>
                    <div>Registered Senior Welding Inspector (SWI)</div>
                    <div>Registered Engineering Technician (EngTech) with the UK Engineering Council </div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2012 - 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://iiwelding.org/" target="_blank" style="color: #83b126">International Institute of Welding</a></h3>
                    <div class="subheading mb-3">International Welding Inspector</div>
                    <div>Qualification: IIW/IWI</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.corrosioninstitute.org.za/" target="_blank" style="color: #83b126">Corrosion Institute</a></h3>
                    <div class="subheading mb-3">NACE CIP Level 1 Coating Inspector</div>
                    <div>Qualification: NACE CIP Level 1 </div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.sande.co.za/" target="_blank" style="color: #83b126">School of Applied Non-Destructive Examination</a></h3>
                    <div class="subheading mb-3">Radiographic Interpretation Limited level 2</div>
                    <div>Qualification: SNT-TC-1A</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.saiw.co.za/" target="_blank" style="color: #83b126">South African Institute of Welding</a></h3>
                    <div class="subheading mb-3">Welding and Fabrications Inspector Level 2</div>
                    <div>Qualification SAQCC</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.saiw.co.za/" target="_blank" style="color: #83b126">South African Institute of Welding</a></h3>
                    <div class="subheading mb-3">Welding and Fabrications Inspector Level 1</div>
                    <div>Qualification SAQCC</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2009</span>
                </div>
            </div>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">Music</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.copasa.co.za/" target="_blank" style="color: #83b126">Campus of Performing Arts</a></h3>
                    <div class="subheading mb-3">Music / Guitar</div>
                    <div>Qualification NQF2 Music</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2008</span>
                </div>
            </div>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">High School</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"><a href="http://www.florries.co.za/" target="_blank" style="color: #83b126">Hoërskool Florida</a></h3>
                    <div class="subheading mb-3">Matric - High School</div>
                </div>
                <div class="resume-date text-md-right" >
                    <span style="color: #83b126">2003 - 2007</span>
                </div>
            </div>

        </div>
    </section>
{% endblock  %}