{% extends 'Neco/layout.html' %}
{% block title %}Neco Horne - Education{% endblock %}
{% load static %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h1 class="mb-5">My Education</h1>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">Programming</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Udacity</h3>
                    <div class="subheading mb-3">Android Developer Nanodegree</div>
                    <div>Google Africa Scholarship Recipient of the Udacity Android Developer Nanodegree program</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2018 - 2019</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Pluralsight</h3>
                    <div>Google: Associate Android Developer (AAD)</div>
                    <div>Firebase on Android: User Email Authentication and Verification​</div>
                    <div>Firebase on Android: Real-time Database and Cloud Storage</div>
                    <div>Firebase on Android: Cloud Messaging, Cloud Functions and Crashlytics​</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2018</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Lynda</h3>
                    <div>Become a Programmer Path</div>
                    <div>Become a Python Developer​ Path</div>
                    <div>Become a Java Programmer Path</div>
                    <div>Android Development Essential Training: Create Your First App</div>
                    <div>Insights on Software Quality Engineering</div>
                    <div>Learning Data Analytics</div>
                    <div>Scrum: The Basics</div>
                    <div>Agile Development Practices</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017 - 2018</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Udacity</h3>
                    <div>Intro to Computer Science</div>
                    <div>How to Use Git and GitHub</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Code School</h3>
                    <div>Discover Git</div>
                    <div>Discover Python</div>
                    <div>Try Ruby</div>
                    <div>Try Android</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Udemy</h3>
                    <div>HTML and CSS for Beginners - Build a Website & Launch ONLINE</div>
                    <div>Complete Python Bootcamp: Go from zero to hero in Python</div>
                    <div>The Complete Android & Java Developer Course - Build 21 Apps</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2017</span>
                </div>
            </div>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">Quality</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">National Board of Boiler and Pressure Vessel Inspectors</h3>
                    <div>National Board Inspection Code Part 1 Installation </div>
                    <div>National Board Inspection Code Part 2 Inspection</div>
                    <div>National Board Inspection Code Part 3 Repairs and alterations</div>
                    <div>Certified Individual: Unfired Miniature Pressure Vessels (ASME VIII Div 1)</div>
                    <div>ASME Code Reading Primer</div>
                    <div>ASME Nuclear Code Reading Primer</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2013 - 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">South African Institute of Welding</h3>
                    <div class="subheading mb-3">Competent Persons Pressure Vessels</div>
                    <div>Competent Persons Pressure Vessels(Core)</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2013</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">The Welding Institute</h3>
                    <div class="subheading mb-3">Senior Welding Inspector level 3</div>
                    <div>CSWIP 3.2.2, Senior welding inspector level 3 with radiographic interpretation</div>
                    <div>Registered Senior Welding Inspector (SWI)</div>
                    <div>Registered Engineering Technician (EngTech) with the UK Engineering Council </div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2012 - 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">International Institute of Welding</h3>
                    <div class="subheading mb-3">International Welding Inspector</div>
                    <div>Qualification: IIW/IWI</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Corrosion Institute</h3>
                    <div class="subheading mb-3">NACE CIP Level 1 Coating Inspector</div>
                    <div>Qualification: NACE CIP Level 1 </div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">School of Applied Non-Destructive Examination</h3>
                    <div class="subheading mb-3">Radiographic Interpretation Limited level 2</div>
                    <div>Qualification: SNT-TC-1A</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">South African Institute of Welding</h3>
                    <div class="subheading mb-3">Welding and Fabrications Inspector Level 2</div>
                    <div>Qualification SAQCC</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2011</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">South African Institute of Welding</h3>
                    <div class="subheading mb-3">Welding and Fabrications Inspector Level 1</div>
                    <div>Qualification SAQCC</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2009</span>
                </div>
            </div>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">Music</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Campus of Performing Arts</h3>
                    <div class="subheading mb-3">Music / Guitar</div>
                    <div>Qualification NQF2 Music</div>
                </div>
                <div class="resume-date text-md-right">
                    <span style="color: #83b126">2008</span>
                </div>
            </div>
            <hr class="featurette-divider" style="margin: 2rem">

            <h2 class="text-center">High School</h2>
            <hr class="featurette-divider" style="margin: 2rem">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Hoërskool Florida</h3>
                    <div class="subheading mb-3">Matric - High School</div>
                </div>
                <div class="resume-date text-md-right" >
                    <span style="color: #83b126">2003 - 2007</span>
                </div>
            </div>

        </div>
    </section>
{% endblock  %}