        <!--Footer start-->
        <footer style="margin-top: 3rem">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="footer" style="background-color: #292929;">
            <div class="container-footer">
                <a href='https://github.com/NecoHorne' target="_blank"><i class="fab fa-github fa-2x fa-fw"></i></a>
                <a href='https://stackoverflow.com/users/8682974/neco-horne' target="_blank"><i class="fab fa-stack-overflow fa-2x fa-fw"></i></a>
                <a href='https://play.google.com/store/apps/dev?id=7080632387959877996' target="_blank"><i class="fab fa-google-play fa-2x fa-fw"></i></a>
                <a href='https://www.linkedin.com/in/necohorne/' target="_blank"><i class="fab fa-linkedin fa-2x fa-fw"></i></a>
                <a href='https://www.facebook.com/necohorne1/' target="_blank"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
                <a href='https://twitter.com/NecoHorne' target="_blank"><i class="fab fa-twitter fa-2x fa-fw"></i></a>
                <a href='https://www.instagram.com/necohorne/' target="_blank"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
                <a href='https://www.youtube.com/channel/UCfU6N-dWr47KR1f_Yi4Exww' target="_blank"><i class="fab fa-youtube fa-2x fa-fw"></i></a>
            </div>
            <p style="color: white; margin-top: 15px">Copyright © 2018 <a href="{% url "index" %}" style="color:#83b126; ">Neco Horne</a> - All Rights Reserved.</p>
        </div>
        </footer>
        <!--Footer end-->