{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #292929;">

        <a class="navbar-brand" href="{% url "index" %}"><img src="{% static 'Neco/img/logo.png' %}" style="max-height: 3rem; padding-left: 2rem"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'about' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'about' %}">About Me</a>
                        <a class="dropdown-item" href="{% url 'education' %}">Education</a>
                        <a class="dropdown-item" href="{% url 'work' %}">Work Experience</a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Contact<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <div class="nav navbar-nav navbar-right" style="padding-right: 2rem">
                <a href='https://github.com/NecoHorne' target="_blank"><i class="fab fa-github fa-1x fa-fw"></i></a>
                <a href='https://stackoverflow.com/users/8682974/neco-horne' target="_blank"><i class="fab fa-stack-overflow fa-1x fa-fw"></i></a>
                <a href='https://play.google.com/store/apps/dev?id=7080632387959877996' target="_blank"><i class="fab fa-google-play fa-1x fa-fw"></i></a>
                <a href='https://www.linkedin.com/in/necohorne/' target="_blank"><i class="fab fa-linkedin fa-1x fa-fw"></i></a>
                <a href='https://www.facebook.com/necohorne1/' target="_blank"><i class="fab fa-facebook fa-1x fa-fw"></i></a>
                <a href='https://twitter.com/NecoHorne' target="_blank"><i class="fab fa-twitter fa-1x fa-fw"></i></a>
                <a href='https://www.instagram.com/necohorne/' target="_blank"><i class="fab fa-instagram fa-1x fa-fw"></i></a>
                <a href='https://www.youtube.com/channel/UCfU6N-dWr47KR1f_Yi4Exww' target="_blank"><i class="fab fa-youtube fa-1x fa-fw"></i></a>
            </div>
        </div>

    </nav>
</header>