{% extends 'Neco/layout.html' %}
{% block title %}Neco Horne - Portfolio{% endblock %}
{% load static %}
{% block header %}<link type="text/css" rel="stylesheet" href="{% static '/Neco/css/gallery.css' %}" />{% endblock %}

{% block content %}

    {% include "Neco/header.html" %}

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Portfolio</h1>
          <p class="lead text-muted">Below are a few examples of my work, along with any relevant links to the github repository, google play or web url for the project.</p>
          <p>
            <a href="{% url 'contact' %}" class="btn btn-primary my-2" style="background: #83b126; border: #83b126">Contact Me</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light" >
        <div class="container" >

          <div class="row">
              {% for post in posts %}
                  {% include 'Neco/post.html' %}
              {% endfor %}
          </div>
        </div>
      </div>

{% endblock  %}

{% block extra %}
    <script src="{% static '/Neco/js/holder.min.js' %}"></script>
{% endblock %}