<h2 class="featurette-heading" style="text-align: center; margin: 2rem;">My Services</h2>
<div class="row" style="margin: 2rem">
    <div class="col-lg-4">
        <i class="fas fa-laptop-code fa-3x fa-fw"></i>
        <h2>Web</h2>
        <p>With today's technology moving at such a rapid pace it's more important than ever to be able to prototype and deploy apps as fast as possible. I provide assistance with writing and deploying web applications to cloud services.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="material-icons" style="font-size: 3rem">developer_mode</i>
        <h2>Mobile</h2>
        <p>Close to 80% of all mobile devices worldwide run on Android. I can build custom native Android applications built to your specifications and deploy the application on google play.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="fas fa-terminal fa-3x fa-fw"></i>
        <h2>Custom Support</h2>
        <p>Something else you need help with? Contact me and lets discuss what you need and if I will be able to do it. If I can't I will definitely learn the technology in order to assist.</p>
    </div><!-- /.col-lg-4 -->
</div>
<hr class="featurette-divider">