<h1 style="text-align: center; margin-bottom: 2rem; font-family: 'Press Start 2P', cursive;">Skills</h1>
<hr class="featurette-divider">
<h2 style="text-align: center; margin-bottom: 2rem; font-family: 'Press Start 2P', cursive;">Mobile</h2>
<div class="row justify-content-center">
    <div class="col-lg-4">
        <i class="fab fa-android fa-9x fa-fw"></i>
        <h2>Android</h2>
        <p>Android has been the best-selling OS worldwide on smartphones since 2011 and on tablets since 2013. I can do Native Android app development in the Java language with deployment to the google play store.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
        </div>
    </div><!-- /.col-lg-4 -->
</div>
<hr class="featurette-divider">

<h2 style="text-align: center; margin-bottom: 2rem; font-family: 'Press Start 2P', cursive;">Front-End</h2>
<div class="row">
    <div class="col-lg-4">
        <i class="fab fa-html5 fa-9x fa-fw"></i>
        <h2>HTML</h2>
        <p>I have a general grasp of HTML 5 and can quickly put together HTML pages without much issue for static pages, generate it dynamically as necessary for web apps or just wire it up to the back end.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="fab fa-css3-alt fa-9x fa-fw"></i>
        <h2>CSS</h2>
        <p>I am primarily a backend and mobile developer, when I do front-end web development, for CSS I will primarily use <a style="color: #83b126" target="_blank" href="https://getbootstrap.com/">Bootstrap</a> or <a style="color: #83b126" target="_blank" href="https://materializecss.com/">Materialize</a> layouts to build from. This website is styled using bootstrap.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%">35%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="fab fa-node-js fa-9x fa-fw"></i>
        <h2>JavaScript</h2>
        <p>Working Knowledge of the Javascript front-end scripting language. Functional knowledge of Javascript with the node.js platform to use JS as a server side language, along with the npm package manager. </p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
        </div>
    </div><!-- /.col-lg-4 -->
</div>
<hr class="featurette-divider">

<h2 style="text-align: center; margin-bottom: 2rem; font-family: 'Press Start 2P', cursive;">Back-End</h2>
<div class="row">
    <div class="col-lg-4">
        <i class="fab fa-java fa-9x fa-fw"></i>
        <h2>Java</h2>
        <p>Java is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and designed to have as few implementation dependencies as possible. My overall language of choice.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="fab fa-python fa-9x fa-fw"></i>
        <h2>Python</h2>
        <p>Python is an interpreted high-level programming language for general-purpose programming. I am proficient in python programming, this website was built using the django web framework for python.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="fab fa-php fa-9x fa-fw"></i>
        <h2>php</h2>
        <p>I have limited experience and exposure to php, my server side scripting languages of choice are either python or node.js but I can write in php if required for general LAMP stack websites using php.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
        </div>
    </div><!-- /.col-lg-4 -->
</div>
<hr class="featurette-divider">

<h2 style="text-align: center; margin-bottom: 2rem; font-family: 'Press Start 2P', cursive;">Deployment</h2>
<div class="row">
    <div class="col-lg-4">
        <i class="icon-google-developers" style="font-size: 6rem"></i>
        <h2>Google Cloud Platform</h2>
        <p>With <a style="color: #83b126" target="_blank" href="https://cloud.google.com/">GCP</a> and/or <a style="color: #83b126" target="_blank" href="https://firebase.google.com/">Firebase</a>, I can build, test, and deploy applications on Google's highly-scalable and reliable infrastructure for your web, mobile, and backend solutions. <b>(Preferred)</b> </p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="icon-aws" style="font-size: 6rem"></i>
        <h2>Amazon Web Services</h2>
        <p> <a style="color: #83b126" target="_blank" href="https://aws.amazon.com/">AWS</a> Elastic Beanstalk for deploying and scaling web applications and services developed with Java or python. AWS Lambda for use with applications integrated with AWS. Other AWS solutions are available.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="icon-heroku" style="font-size: 6rem"></i>
        <h2>Heroku</h2>
        <p><a style="color: #83b126" target="_blank" href="https://www.heroku.com/">Heroku</a> is a cloud platform that lets companies build, deliver, monitor and scale apps — It is a fast and easy way to go from idea to URL, bypassing all those infrastructure headaches.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <i class="icon-azure" style="font-size: 6rem"></i>
        <h2>Azure</h2>
        <p> Microsoft <a style="color: #83b126" target="_blank" href="https://azure.microsoft.com">Azure</a> is an ever-expanding set of cloud services to help your organization meet your business challenges. Azure supports open source technologies, so you can Run virtually any application using your data source.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
        </div>
    </div><!-- /.col-lg-4 -->

</div>

<hr class="featurette-divider">