{% extends 'Neco/layout.html' %}
{% block title %}Neco Horne - My Work Experience{% endblock %}
{% load static %}
{% block header %}<link type="text/css" rel="stylesheet" href={% static '/Neco/css/work.css' %} />{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 3rem">
            <h1 id="mainHeader" style="margin-bottom: 2rem; padding-top: 2rem">My Experience</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline9">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fas fa-rocket"></i></span></div>
                                <div class="content">
                                    <span class="year">Aug 2017 - present</span>
                                    <h4 class="title">Freelance Developer</h4>
                                    <p class="description">
                                        Started a career change to become a programmer / developer working with Python, Java, Android and anything else I can learn.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fas fa-city"></i></span></div>
                                <div class="content">
                                    <span class="year">Oct 2015 - Aug 2017</span>
                                    <h4 class="title">Project Quality Manager</h4>
                                    <p class="description">
                                        Employed by General Electric, the Engineering contractor for the turbine side of the Eskom Medupi and Kusile Power Station Projects as Project Quality Manager for the Kusile Power Station Project.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fas fa-warehouse"></i></span></div>
                                <div class="content">
                                    <span class="year">Sep 2013 - Oct 2014</span>
                                    <h4 class="title">Project Supply Quality Manager</h4>
                                    <p class="description">
                                        Employed by Alstom as Project Supply Quality Manager for the Eskom Kusile Power Station Project.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fas fa-industry"></i></span></div>
                                <div class="content">
                                    <span class="year">Mar 2012 - Sep 2013</span>
                                    <h4 class="title">Snr QA/QC Inspector</h4>
                                    <p class="description">
                                        Employed by BIE International Engineers for Client Quality Control and Quality Assurance Inspector on behalf of Eskom on Power Station outage projects.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fas fa-user-tie"></i></span></div>
                                <div class="content">
                                    <span class="year">Jun 2011 - Mar 2012</span>
                                    <h4 class="title">QA/QC Inspector / NDE Coordinator</h4>
                                    <p class="description">
                                        Employed by Stainless Fabricators for QA/QC activities on fabrication of various stainless steel tanks, ducting, piping, pressure and non-pressure vessels for the petrochemical and mining industries.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fas fa-briefcase"></i></span></div>
                                <div class="content">
                                    <span class="year">Jan 2010 - Jun 2011</span>
                                    <h4 class="title">QA/QC Inspector</h4>
                                    <p class="description">
                                         I was employed on the Transnet: New Multi Product Pipeline Project as a QA/QC Inspector by WK-Construction.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
        <hr>
{% endblock  %}