{% extends 'Neco/layout.html' %}
{% block title %}Error 500{% endblock %}
{% load static %}
{% block content %}
    <div class="error" style="margin-top: 3rem">
        <div class="error-code m-b-10 m-t-20">500<i class="fa fa-warning"></i></div>
        <h3 class="font-bold">You Dun Goofed!</h3>

        <div class="error-desc" style="margin-bottom: 3rem">
            Lol, absolutely no idea what happened there!<br/>
            Try refreshing the page or click the button below to go back to the Homepage.
            <div>
                <a class=" login-detail-panel-button btn" style="color: #83b126" href="{% url "index" %}">
                    <i class="fa fa-arrow-left" style="color: #83b126"></i>
                    Go back to Homepage
                </a>
            </div>
        </div>
    </div>
{% endblock  %}